.main-box{
  .main-description-content {
    box-shadow: 0 5px 10px 5px #dadada;
    padding: 10px;
    text-align: center;
    height: 410px;
  }
}

.img-main {
  height: 100px;
  width: 100px;
  margin: auto;
  display: block;
}

.subtitle {
  color: white;
}
