<h1>Reservar</h1>

<div class="container-pages">
  <form name="reserveVm.reserveForm" novalidate ng-submit="reserveVm.submit()">

    <div class="form-group" ng-class="{ 'has-error': reserveVm.reserveForm.date.$touched && reserveVm.reserveForm.date.$invalid }">
      <label>Fecha</label>
      <input datetime-picker name="date" date-only date-format="yyyy-MM-dd" class="form-control"
          ng-model="reserveVm.reserve.date"
          required>

      <div class="help-block" ng-messages="reserveVm.reserveForm.date.$error" ng-if="reserveVm.reserveForm.date.$touched">
        <p ng-message="required">Campo requerido</p>
      </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary" ng-disabled="reserveVm.reserveForm.$invalid">Submit</button>
    </div>
  </form>

  <div class="row">
    <div class="court col-sm-3 col-xs-12"
         ng-repeat="disponible in reserveVm.disponibilities track by $index"
         ng-click="reserveVm.select($index)">
      <div class="court-container">
        <div class="courtId">
          Cancha {{disponible.courtId}}
        </div>
        <div class="courtDate">
          {{disponible.date | date:'medium' }}
        </div>
      </div>
    </div>
  </div>
</div>
