<h1>Reservar</h1>

<div class="container-pages">
  <form name="reserveVm.reserveForm" novalidate ng-submit="reserveVm.submit()">

    <!-- name field -->
    <div class="form-group" ng-class="{ 'has-error': reserveVm.reserveForm.name.$touched && reserveVm.reserveForm.name.$invalid }">
        <label>Nombre</label>
        <input type="text" name="name" class="form-control"
            ng-model="reserveVm.reserve.name"
            required>

            <div class="help-block" ng-messages="reserveVm.reserveForm.name.$error" ng-if="reserveVm.reserveForm.name.$touched">
        <p ng-message="required">Nombre requerido</p>
    </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary" ng-disabled="reserveVm.reserveForm.$invalid">Submit</button>
    </div>

</form>
</div>
