<h1>Servicios</h1>
<div class="container-pages">

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4>Clases</h4>
    </div>
    <div class="panel-body">Se busca mejorar los aspectos técnicos-tácticos-físicos
      para poder resolver las diferentes situaciones que se presentan en un partido.</div>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4>Entrenamientos personalizados</h4>
    </div>
    <div class="panel-body">De la mano de profesionales con amplia experiencia,
      se pondrá a tu disposición un plan de entrenamiento del que sacarás los
      recursos necesarios para ser más eficaces durante la competición.</div>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4>Campeonatos</h4>
    </div>
    <div class="panel-body">Con el fin de poner en práctica los conocimientos
      adquiridos durante el curso, ofrecemos un programa de torneos para nuestros alumnos.</div>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4>Reservas online</h4>
    </div>
    <div class="panel-body">Puedes reservar a través de nuestra página web
    las canchas para tus prácticas</div>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4>Grupos por edades</h4>
    </div>
    <div class="panel-body">Puedes armar equipos y jugar contra personas de
    tu misma edad</div>
  </div>
</div>
